<!DOCTYPE html>
<html>
<head>
    <!-- http-equiv指定文档的内容类型和编码类型 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- name属性 视图和描述 name+content -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>待办事项列表</title>
    <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <!-- 外接式css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
<!-- 头部:在这添加任务 -->
<div class="header">
    <div class="box">
        <form action="javascript:postAction()" id="form">
            <!-- for将label标签绑定到input -->
            <label for="title">ToDoList</label>
            <!-- required规定提交表单之前有必填字段  autocomplete:自动补齐-->
            <div style="float: right;width: 60%;">
                <select id="itemType">
                    <option value="single">创建待办</option>
                    <option value="file">下载文件</option>
                    <option value="note">创建便签</option>
                </select>
                <input type="text" id="title" name="title" placeholder="添加ToDo" required="required" autocomplete="off"/>
            </div>
        </form>
    </div>
</div>
<!-- 主体：在这进行任务和已完成 -->
<div class="content">
    <h2>正在进行 <span id="todoCount"></span></h2>
    <ol id="todoList" class="demo-box">
    </ol>
    <h2>已经完成 <span id="doneCount"></span></h2>
    <ul id="doneList">
    </ul>
    <h2>长期任务 <span id="oldCount"></span></h2>
    <ol id="oldList">
    </ol>
</div>
<!-- 脚部：印记和全清除按钮 -->
<div class="footer">
    Version {{ version }} Copyright &copy; {{ year }} LiZeC
</div>
<div class="footer">
    <a href="javascript:selectFile()">上传文件</a> &nbsp&nbsp
    {% if 'ROLE_ADMIN' in role %}
        <a href="javascript:backUpData()">备份数据</a> &nbsp&nbsp
        <a href="javascript:updateLogs()">查看日志</a> &nbsp&nbsp
        <a href="javascript:downCenter()">下载中心</a> &nbsp&nbsp
    {% endif %}
    <a href="logout">退出登录</a>
</div>

<!-- 上传文件的控件 -->
<input type="file" id="file_selector" style="display: none;" onchange="uploadFile()"/>

</body>
</html>