<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>待办事项列表</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<!-- 头部:在这添加任务 -->
<div class="header">
    <div class="box">
        <form action="javascript:commitGlobalTodo()" id="form">
            <!-- for将label标签绑定到input -->
            <label for="title">ToDoList</label>
            <!-- required规定提交表单之前有必填字段  autocomplete:自动补齐-->
            <div style="float: right;width: 60%;">
                <label for="itemType"></label>
                <select id="itemType">
                    <option value="single">创建待办</option>
                    <option value="file">下载文件</option>
                    <option value="note">创建便签</option>
                </select>
                <input type="text" id="title" name="title" placeholder="添加ToDo" required="required" autocomplete="off"/>
            </div>
        </form>
    </div>
</div>
<!-- 主体：在这进行任务和已完成 -->
<div class="content" id="todoContent">
    <h2>正在进行 <span id="todoCount"> {{  todo.length }}</span></h2>
    <ol id="todoList" class="demo-box">
        <li v-for="item in todo" :key="item.id" :class="item.itemType" id="li-active">
            <label><input type='checkbox' @change='update(item.id)'/></label>
            <p @click='jumpTo(item.url)'>{{ item.showName }}</p>
            <a @click='promotion(item.id)'>↓</a>
        </li>
    </ol>

    <h2 v-if="done.length>0">已经完成 <span id="doneCount">{{ done.length }}</span></h2>
    <ul id="doneList">
        <li v-for="item in done" :key="item.id" id="li-normal">
            <label><input type='checkbox' @change='update(item.id)' checked='checked'/></label>
            <p @click='jumpTo(item.url)'>{{ item.showName }}</p>
            <a @click='remove(item.id)'>-</a>
        </li>
    </ul>

    <h2 v-if="old.length > 0">长期任务 <span id="oldCount">{{ old.length }}</span></h2>
    <ol id="oldList">
        <li v-for="item in old" :key="item.id" :class="item.itemType" id="li-active">
            <label><input type='checkbox'/></label>
            <p @click='jumpTo(item.url)'>{{ item.showName }}</p>
            <a @click='remove(item.id)'>-</a>
        </li>
    </ol>
</div>

<!-- 脚部：印记和功能按钮 -->
<div class="footer" id="footerContainer">
    Version {{ version }} Copyright &copy; {{ year }} LiZeC
</div>
<div class="footer" id="footerFunctionContainer">
    <a href="javascript:selectFile()">上传文件</a> &nbsp&nbsp
    <a v-if="isAdmin" href="javascript:backUpData()">备份数据</a> &nbsp&nbsp
    <a v-if="isAdmin" href="javascript:updateLogs()">查看日志</a> &nbsp&nbsp
    <a v-if="isAdmin" href="javascript:downCenter()">下载中心</a> &nbsp&nbsp
    <a href="javascript:doLogout()">退出登录</a>
</div>

<!-- 上传文件的控件 -->
<input type="file" id="file_selector" style="display: none;" onchange="uploadFile()"/>

<script src="/static/js/common.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>