<!DOCTYPE html>
<html>
<head>
    <!-- http-equiv指定文档的内容类型和编码类型 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- name属性 视图和描述 name+content -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>%% name %%</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/note.css">
</head>
<body>
<!-- 头部:在这添加任务 -->
<div class="header">
    <div class="box">
        <form action="javascript:commitNoteTodo()" id="form">
            <!-- for将label标签绑定到input -->
            <label for="title">ToDoList</label>
            <!-- required规定提交表单之前有必填字段  autocomplete:自动补齐-->
            <div style="float: right;width: 60%;">
                <label for="itemType"></label>
                <select id="itemType">
                    <option value="single">创建待办</option>
                    <option value="file">下载文件</option>
                    <option value="note">创建便签</option>
                </select>
                <input type="text" id="title" name="title" placeholder="添加ToDo" required="required" autocomplete="off"/>
            </div>
        </form>
    </div>
</div>

<div class="content">
    <!-- 主体：文本编辑器控制按钮 -->
    <div id='editControls' class='span12' style='text-align:center; padding:5px;'>
        <div class='btn-group'>
            <a class='btn' data-role='h1' href='#'>h<sup>1</sup></a>
            <a class='btn' data-role='h2' href='#'>h<sup>2</sup></a>
            <a class='btn' data-role='p' href='#'>p</a>
            <a class='btn' data-role='bold' href='#'><b>Bold</b></a>
            <a class='btn' data-role='italic' href='#'><em>Italic</em></a>
            <a class='btn' data-role='underline' href='#'><u><b>U</b></u></a>
            <a class='btn' data-role='strikeThrough' href='#'><del>abc</del></a>
            <a class='btn' data-role='undo' href='#'>Undo</a>
            <a class='btn' data-role='redo' href='#'>Redo</a>
        </div>
    </div>


    <!-- 主体：在这进行任务和已完成 -->
    <div class="content" id="todoContent">
        <h2 v-if="todo.length > 0">正在进行 <span id="todoCount"> {{ todo.length }}</span></h2>
        <ol id="todoList" class="demo-box">
            <li v-for="item in todo" :key="item.id" :class="item.itemType" id="li-active">
                <label><input type='checkbox' @change='update(item.id)'/></label>
                <p @click='jumpTo(item.url)'>{{ item.showName }}</p>
                <a @click='promotion(item.id)'>↓</a>
            </li>
        </ol>

        <!-- 主体：文本编辑器 -->
        <div id='editor' class='span12' style='' contenteditable="true">
            {# 启用过滤器, 使得HTML代码不会被转义 #}
            %% note | safe %%
        </div>

        <h2 v-if="done.length > 0">已经完成 <span id="doneCount">{{ done.length }}</span></h2>
        <ul id="doneList">
            <li v-for="item in done" :key="item.id" id="li-normal">
                <label><input type='checkbox' @change='update(item.id)' checked='checked'/></label>
                <p @click='jumpTo(item.url)'>{{ item.showName }}</p>
                <a @click='remove(item.id)'>-</a>
            </li>
        </ul>

        <h2 v-if="old.length > 0">长期任务 <span id="oldCount">{{ old.length }}</span></h2>
        <ol id="oldList">
            <li v-for="item in old" :key="item.id" :class="item.itemType" id="li-active">
                <label><input type='checkbox'/></label>
                <p @click='jumpTo(item.url)'>{{ item.showName }}</p>
                <a @click='remove(item.id)'>-</a>
            </li>
        </ol>
    </div>
</div>


<!-- 脚部：印记和全清除按钮 -->
<div class="footer" id="footerContainer">
    Version {{ version }} Copyright &copy; {{ year }} LiZeC
</div>
<div class="footer">
    <a href="javascript:save()">保存</a>
</div>

<!-- 弹出的提示框, 指示是否保存成功 -->
<div class="alert"></div>

<script src="/static/js/common.js"></script>
<script src="/static/js/note.js"></script>
</body>
</html>